<h1 style="margin-left: 10px;">Mail-Benachrichtigung</h1>
<div style="padding: 5px; ">
    <div>
        <div>
            <div><p>Grenzwert: </p></div>
            <input type="number" min="20" max="70" ng-model="notifierConfig.lowerThreshold" required />
            <div><p>°C</p></div>
        </div>
        <div><p>Emails:</p></div>
        <div *ngFor="let mailConfig of notifierConfig.mailConfigs">
            <div>
                <div><p>Email: </p></div>
                <input type="text" ng-model="mailConfig.mail" required />
            </div>
        </div>
        <button (click)="addEmptyMail()">Neue Adresse hinzufügen</button>
        <button (click)="saveMails()">Speichern</button>
    </div>
</div>