<h1 style="margin-left: 10px;">Verlauf</h1>
<div style="margin-left: 10px;">
    <button (click)="changeDisplayedWeek(-1)"
            class="historyButton
                   arrowButton"><</button>
    <div style="height: 30px; 
                margin: 5px; 
                float: left; ">
        <p style="margin: 0; line-height: 35px;">KW {{currentWeekNumber}}</p>
    </div>
    <button (click)="changeDisplayedWeek(1)"
            class="arrowButton
                   historyButton">></button>
    <!--<button (click)="changeShownDaysAndRefresh(1)"
            class="historyButton">1 Tag</button>
    <button (click)="changeShownDaysAndRefresh(7)"
            class="historyButton">7 Tage</button>
    <button (click)="changeShownDaysAndRefresh(31)"
            class="historyButton">Monat</button>-->
    <button (click)="showFullScreen()"
            class="historyButton">Vollbild</button>
</div>
<div style="position: absolute;
            top: 150px;
            left: 0;
            right: 0;
            bottom: 0;"
            [class.IOSFullScreen]="isIOSFullScreen">
        <div style="position: relative;
                    height: 100%;
                    width: 100%;"
             id="container"></div>
        <button *ngIf="isFullscreenActive"
                (click)="closeFullScreen()"
                class="historyButton"
                style="position: absolute;
                       top: 5px;
                       right: 5px;
                       margin: 0;">Schließen</button>
</div>