<h1 style="margin-left: 10px;">Menü</h1>
<div style="margin-left: 10px;">
    <button routerLink="/home"
            style="width: 150px; 
                   height: 60px; ">Home</button>
    <button routerLink="/history"
            style="width: 150px; 
                   height: 60px; ">Verlauf</button>
    <button routerLink="/run-time"
            style="width: 150px; 
                   height: 60px; ">Betriebsstunden</button>
    <button routerLink="/mail-notification"
            style="width: 150px; 
                   height: 60px; ">Mail-Benachrichtigung</button>
</div>