<h1 style="margin-left: 10px;">Menü</h1>
<div style="margin-left: 10px;
            padding: 5px; ">
    <button routerLink="/home"
            class="MenuButton">Home</button>
    <button routerLink="/history"
            class="MenuButton">Verlauf</button>
    <button routerLink="/run-time"
            class="MenuButton">Betriebsstunden</button>
    <button routerLink="/mail-notification"
            class="MenuButton">Mail-Benachrichtigung</button>
    <button routerLink="/value-overview"
            class="MenuButton">Werte-Übersicht</button>
</div>