<h1 style="margin-left: 10px;">Betriebsstunden</h1>
<div style="padding: 5px; ">
    <table *ngIf="displayOperatingHouresPromise | async as displayOperatingHoures; else loading"
           style="width: 100%;
                  max-width: 500px;
                  padding: 10px; ">
        <thead>
            <tr>
                <th><p>Datum</p></th>
                <th><p>Stunden</p></th>
                <th><p>Stunden Insgesamt</p></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dayOperatingHoures of displayOperatingHoures">
                <td><p>{{dayOperatingHoures.date | date:"dd.MM.yyyy"}}</p></td>
                <td><p>{{dayOperatingHoures.houres}}</p></td>
                <td><p>{{dayOperatingHoures.maxHoures | number}}</p></td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #loading>Lädt...</ng-template>