<h1 style="margin-left: 10px;">Dashboard</h1>
<div style="padding: 5px; ">
    <div class="Panel">
        <div class="Header">
            Heizungsstatus
        </div>
        <div [ngSwitch]="this.CurrentDataService.currentState.value"
             style="text-align: center; 
                    margin-top: 40px; 
                    font-size: 22px; 
                    font-weight: bold;">
            <div *ngSwitchDefault>{{this.CurrentDataService.currentState.value}}</div>
            <div *ngSwitchCase="3">Feuer an</div>
            <div *ngSwitchCase="5">Feuer aus</div>
            <div *ngSwitchCase="6">Tür auf</div>
            <div *ngSwitchCase="2">Anheizen</div>
            <div *ngSwitchCase="56">Vorbelüften</div>
            <div *ngSwitchCase="4">Feuererhaltung</div>
            <div *ngSwitchCase="35">Zünden warten</div>
            <div *ngSwitchCase="9">Zünden</div>
        </div>
    </div>
    <div class="Panel">
        <div class="Header">
            Abgastemperatur
        </div>
        <mwl-gauge
            [max]="250"
            [dialStartAngle]="10"
            [dialEndAngle]="170"
            [value]="this.CurrentDataService.currentExhaustTemperature.value"
            [label]="temperatureToString"
            [animated]="false">
        </mwl-gauge>
    </div>
    <div class="Panel">
        <div class="Header">
            Puffer oben
        </div>
        <mwl-gauge
            [max]="90"
            [dialStartAngle]="10"
            [dialEndAngle]="170"
            [value]="this.CurrentDataService.currentBufferTopTemperature.value"
            [label]="temperatureToString"
            [animated]="false">
        </mwl-gauge>
    </div>
    <div class="Panel">
        <div class="Header">
            Puffer unten
        </div>
        <mwl-gauge
            [max]="90"
            [dialStartAngle]="10"
            [dialEndAngle]="170"
            [value]="this.CurrentDataService.currentBufferBottomTemperature.value"
            [label]="temperatureToString"
            [animated]="false">
        </mwl-gauge>
    </div>
    <div class="Panel">
        <div class="Header">
            Außentemperatur
        </div>
        <mwl-gauge
            [min]="-20"
            [max]="50"
            [dialStartAngle]="10"
            [dialEndAngle]="170"
            [value]="this.CurrentDataService.currentOutsideTemperature.value"
            [label]="temperatureToString"
            [animated]="false">
        </mwl-gauge>
    </div>
    <div class="Panel">
        <div class="Header">
            Betriebsstunden
        </div>
        <div style="text-align: center; 
                    margin-top: 30px; 
                    font-size: 22px; 
                    font-weight: bold;">
            {{this.CurrentDataService.totalRunTimeHour.value | number}} Stunden
        </div>
    </div>
    <div class="Panel">
        <div class="Header">
            Türe offen seit 'Feuer aus'
        </div>
        <div *ngIf="this.CurrentDataService.doorOpenTimeSiceFireOut.value"
             style="text-align: center; 
                    margin-top: 30px; 
                    font-size: 22px; 
                    font-weight: bold;">
            {{$any(this.CurrentDataService.doorOpenTimeSiceFireOut.value).totalSeconds | number}} s
        </div>
    </div>
</div>