<h1 style="margin-left: 10px;">Dashboard</h1>
<div style="padding: 5px; ">
    <div class="Panel">
        <div class="Header">
            Heizungsstatus
        </div>
        <div [ngSwitch]="dataService.currentState.value"
             style="text-align: center; 
                    margin-top: 40px; 
                    font-size: 22px; 
                    font-weight: bold;">
            <div *ngSwitchDefault>{{dataService.description}} {{dataService.currentState}}</div>
            <div *ngSwitchCase="3">Feuer an</div>
            <div *ngSwitchCase="5">Feuer aus</div>
            <div *ngSwitchCase="6">Tür auf</div>
            <div *ngSwitchCase="2">Anheizen</div>
            <div *ngSwitchCase="56">Vorbelüften</div>
            <div *ngSwitchCase="4">Feuererhaltung</div>
        </div>
    </div>
    <div class="Panel">
        <div class="Header">
            Abgastemperatur
        </div>
        <mwl-gauge
            [max]="250"
            [dialStartAngle]="10"
            [dialEndAngle]="170"
            [value]="dataService.currentExhaustTemperature.value"
            [label]="temperatureToString"
            [animated]="false">
        </mwl-gauge>
    </div>
    <div class="Panel">
        <div class="Header">
            Puffer oben
        </div>
        <mwl-gauge
            [max]="90"
            [dialStartAngle]="10"
            [dialEndAngle]="170"
            [value]="dataService.currentBufferTopTemperature.value"
            [label]="temperatureToString"
            [animated]="false">
        </mwl-gauge>
    </div>
    <div class="Panel">
        <div class="Header">
            Puffer unten
        </div>
        <mwl-gauge
            [max]="90"
            [dialStartAngle]="10"
            [dialEndAngle]="170"
            [value]="dataService.currentBufferBottomTemperature.value"
            [label]="temperatureToString"
            [animated]="false">
        </mwl-gauge>
    </div>
    <div class="Panel">
        <div class="Header">
            Außentemperatur
        </div>
        <mwl-gauge
            [min]="-20"
            [max]="50"
            [dialStartAngle]="10"
            [dialEndAngle]="170"
            [value]="dataService.currentOutsideTemperature.value"
            [label]="temperatureToString"
            [animated]="false">
        </mwl-gauge>
    </div>
    <div class="Panel">
        <div class="Header">
            Betriebsstunden
        </div>
        <div style="text-align: center; 
                    margin-top: 30px; 
                    font-size: 22px; 
                    font-weight: bold;">
            {{dataService.totalRunTimeHour.value | number}} Stunden
        </div>
    </div>
</div>